.header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-image: linear-gradient(
  70deg,
  hsl(0deg 41% 27%) 0%,
  hsl(2deg 46% 28%) 18%,
  hsl(4deg 51% 29%) 26%,
  hsl(6deg 56% 30%) 33%,
  hsl(9deg 61% 31%) 39%,
  hsl(11deg 66% 32%) 44%,
  hsl(13deg 71% 33%) 50%,
  hsl(15deg 76% 34%) 56%,
  hsl(18deg 80% 35%) 61%,
  hsl(19deg 85% 36%) 67%,
  hsl(22deg 91% 37%) 74%,
  hsl(24deg 95% 38%) 82%,
  hsl(26deg 100% 39%) 100%
);
  color: white;
  padding: 1rem;
}

  .header h1 {
    font-size: 3rem;
    margin-left: 6vw;
    color: black;
  }

  .header a {
    text-decoration: none;
    color: black;
    margin-left: 1rem;
  }

  .header img {
    width: 100px;
    height: 100px;
    border-radius: 50px;
    object-fit: cover;
    margin-right: 2px;
    margin-bottom: 0.5rem;
    border: 2px solid black;
  }

  .form-link, .saved, .scholarships-link, .logout-link{
    background-color: lightgrey;
    border: none;
    color: black;
    padding: 0.5rem 0.75rem;
    margin-top: 0.25rem;
    cursor: pointer;
    border-radius: 5px;
  }

  .form-link:hover,.saved:hover, .scholarships-link:hover, .logout-link:hover{
    background-color: lightsteelblue;
}

@media only screen and (min-width: 400px) and (max-width: 1000px) {
  nav{
    display: flex;
    flex-direction: column;
  }
  
}