.header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #006c67ac;
  color: white;
  padding: 1rem;
}

  .header h1 {
    font-size: 3rem;
    margin-left: 6vw;
    color: black;
    /* padding-left: 3vw; */
  }

  .header a {
    text-decoration: none;
    color: black;
    margin-left: 1rem;
  }

  .header img {
    width: 10vw;
    height: 12vh;
    border-radius: 50px;
    object-fit: cover;
    margin-right: 2px;
    margin-bottom: 0.5rem;
    border: 2px solid black;
  }

  .form-link, .saved, .scholarships-link, .logout-link{
    background-color: lightgrey;
    border: none;
    color: black;
    padding: 0.5rem 0.75rem;
    margin-top: 0.25rem;
    cursor: pointer;
    border-radius: 5px;
  }

  .form-link:hover,.saved:hover, .scholarships-link:hover, .logout-link:hover{
    background-color: lightsteelblue;
}

@media only screen and (min-width: 400px) and (max-width: 1000px) {
  nav{
    display: flex;
    flex-direction: column;
  }
  
}