.login-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 2rem;
  box-sizing: border-box;
  /* height: 100vh; */
  min-height: 100vh;
}
.welcome-login{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 14vh;
  width:35vw;
  margin-bottom: 3vh;
  border-radius: 5rem;
  background-color: #BACDB0;
  padding: 1rem; 
  box-sizing: border-box; /* Make sure the padding is included in the element's dimensions */
  overflow-wrap: break-word; /* Break long words to a new line */
  word-wrap: break-word; /* Legacy property for older browsers */
  overflow: hidden; 
  font-size: 2vh;
  -webkit-box-shadow: 10px 14px 33px 1px rgba(0,0,0,0.75);
  -moz-box-shadow: 10px 14px 33px 1px rgba(0,0,0,0.75);
  box-shadow: 10px 14px 33px 1px rgba(0,0,0,0.75);
}

.login-container h1 {
  font-size: 4vh;
  margin-bottom: 0.5rem;
}


.user-cards-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 2rem;
  justify-items: center;
  align-items: center;
  padding: 2rem;
  box-sizing: border-box;
  background-color: #729b79c6;
  border-radius: 0.5rem;
  -webkit-box-shadow: 10px 14px 33px 1px rgba(0,0,0,0.75);
  -moz-box-shadow: 10px 14px 33px 1px rgba(0,0,0,0.75);
  box-shadow: 10px 14px 33px 1px rgba(0,0,0,0.75);
}

@media screen and (max-width: 600px) {
  .user-cards-container {
    grid-template-columns: repeat(1, 1fr);
  }
  .welcome-login{
  height: 30vh;
  width:45vw;
  }
}

@media screen and (min-width: 601px) and (max-width: 900px) {
  .user-cards-container {
    grid-template-columns: repeat(2, 1fr);
  }
  .welcome-login{
  height: 20vh;
  width:47vw;
  }
}

@media screen and (min-width: 901px) and (max-width: 1200px) {
  .user-cards-container {
    grid-template-columns: repeat(4, 1fr);
  }
  .welcome-login{
  height: 20vh;
  width:35vw;
  }
}

@media screen and (min-width: 1201px) {
  .user-cards-container {
    grid-template-columns: repeat(4, 1fr);
  }
  .welcome-login{
  height: 20vh;
  width:35vw;
  }
}
