.login-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 2rem;
    box-sizing: border-box;
  }
  
  .login-container h1 {
    font-size: 2rem;
    margin-bottom: 1.5rem;
  }

.user-cards-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 2rem;
    box-sizing: border-box;
}